body {
  text-align: center;
}

.App {
    margin-top: 100px;
}

span {
  margin: 10px;
}

nav {
  margin-bottom: 50px;
}

.HobbiesAndInterests ul, .Career ul {
  text-align: left;
  margin-left: 590px;
}
